:root {
    --dark-bg-color: #162233;
    --light-bg-color: #253f58;
    --lighter-bg-color: #34506e;
    --accent-color: #F87575;
    --ouline-color: lightblue;
    --font-color: white;
    --footer-color: #16171d;
}